<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.lseven.dynamicwallpager" >

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:label="@string/app_name"
            android:name=".DynamicWallPaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action  android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/dynamic_wallpaper" />
        </service>
    </application>

</manifest>